#form1{

  margin-left: 15%;
  width: 300px;
}

#form2{
  margin-right: 15%;
  width: 300px;
}
.form-label{

  margin-top: 10px;
  margin-bottom: 0px;
}
*{

  /* font-family: 'Edu QLD Beginner', cursive; */
font-family: 'Roboto Mono', monospace;
font-size: medium;





}
.form{

  width:1200px;
}

.hidden{
  display: none;
}
.show{
  display: block;
}

.main{
  background-color: rgb(175, 180, 255);
}

.confirm{
  background-color: green;
}